.article__content a {
	text-decoration: none; 

	color: #2979ff;
}

.article__content p {
	font-size: 1.6rem;
	line-height: 2.6rem;

	margin-bottom: 3.3rem;
}

.article__content h2 {
	font-size: 2.3rem;
	line-height: 2.8rem;

	margin-bottom: 2rem;
}

.article__content ul {
	margin-left: 20px;
	margin-bottom: 40px;

	list-style-type: disc;
}
.article__content ul li {
	font-size: 1.6rem;
	line-height: 2.8rem;

	margin-bottom: 2rem;
	padding-left: 1.5rem; 
}
.article__content ul li:last-child {
	margin-bottom: 0;
}
.article__content ul li span {
	color: #000;
}

.article__content blockquote a {
	text-decoration: underline;
}

.article__main {
	-webkit-border-radius: 7px;
	        border-radius: 7px; 
	background: #fff;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
	        box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
}

.article__title {
	margin-bottom: 2.5rem;
}

.article__header {
	padding: 22px 30px 40px;
}
.article__header .article__descr {
	font-size: 1.8rem;
	line-height: 3.2rem;

	margin-top: 25px;
	margin-bottom: 0;
}
.article__header .author_name {
	color: #99a5ab;
}
.article__header .author_row {
	width: 100%;
}

.article__content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	padding: 40px; 

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
}

.article .categories-story_link {
	text-decoration: none; 

	color: #000;
}

.article_related {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	margin: 26px 0 50px; 

	-webkit-border-radius: 5px;
	        border-radius: 5px;
	background: #eee;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
}
.article_related-info {
	padding: 1.6rem 3.2rem;
}
.article_related-mark {
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 2.4rem; 

	margin-bottom: 15px;

	text-transform: uppercase;

	color: #ff5722;
}
.article_related .article_related-link {
	text-decoration: none;

	color: #000;
}
.article_related-title {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 2.6rem;
}
.article_related-img-wrapper {
	display: block; 

	min-width: 200px;
	height: auto;
}

.article .categories-story {
	margin-top: 40px;
}
.article .categories-story_name {
	color: #e8961c;
}

.main-block {
	margin-top: 30px;
}

.card {
	margin-bottom: 4rem;
}
.card:last-child {
	margin-bottom: 0;
}

.humble--comments:before,
.humble--views:before {
	display: block;

	width: 20px;
	height: 20px;
	margin-right: .6rem;

	content: "";

	background-repeat: no-repeat; 
	background-position: center;
	background-size: contain;
}

.humble--views:before {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23B0BEC5' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M12 6C15.79 6 19.17 8.13 20.82 11.5C19.17 14.87 15.79 17 12 17C8.21 17 4.83 14.87 3.18 11.5C4.83 8.13 8.21 6 12 6ZM12 4C7 4 2.73 7.11 1 11.5C2.73 15.89 7 19 12 19C17 19 21.27 15.89 23 11.5C21.27 7.11 17 4 12 4ZM12 9C13.38 9 14.5 10.12 14.5 11.5C14.5 12.88 13.38 14 12 14C10.62 14 9.5 12.88 9.5 11.5C9.5 10.12 10.62 9 12 9ZM12 7C9.52 7 7.5 9.02 7.5 11.5C7.5 13.98 9.52 16 12 16C14.48 16 16.5 13.98 16.5 11.5C16.5 9.02 14.48 7 12 7Z'/%3E %3C/svg%3E");
}

.humble--comments:before {
	width: 15px;
	height: 15px; 

	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDE1LjE3TDE2LjgzIDE0SDJWMkgxOFYxNS4xN1pNMTggMEgyQzAuOSAwIDAgMC45IDAgMlYxNEMwIDE1LjEgMC45IDE2IDIgMTZIMTZMMjAgMjBWMkMyMCAwLjkgMTkuMSAwIDE4IDBaIiBmaWxsPSIjOTBBNEFFIi8+Cjwvc3ZnPgo=");
}

.author {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
.author_avatar {
	min-width: 48px;
	max-width: 48px;
	margin-right: 13px;

	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.author_avatar img {
	min-width: 48px;
	max-width: 48px;
	height: 48px;

	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.author_row {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display:         inline-flex;

	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.author_name {
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2.2rem;

	text-decoration: none; 

	color: #99a5ab;
}
.author_post {
	font-size: 1.4rem;
	line-height: 2.4rem;

	color: #78909c;
}
.author .humble--time {
	color: #000;
}

.categories-story {
	margin-top: 20px;
}
.categories-story_list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.categories-story_item {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 32%;
	height: 530px;
	margin-bottom: 3rem; 
	padding-top: 265px;

	-webkit-border-radius: 7px;
	        border-radius: 7px;
	background-color: #fff;
	background-repeat: no-repeat;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
	        box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
}
.categories-story_item.background-small {
	background-position: top; 
	background-size: 380px 265px;
}
.categories-story_item.background-big {
	background-position: center; 
	background-size: cover;
}
.categories-story_item.background-big .categories-story_name {
	color: #fff;
}
.categories-story_item.background-big .categories-story_link {
	color: #fff;
}
.categories-story_item.background-huge {
	width: 66%; 

	background-position: center;
	background-size: cover;
}
.categories-story_item.background-huge .categories-story_name {
	color: #fff;
}
.categories-story_item.background-huge .categories-story_link {
	color: #fff;
}
.categories-story_wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	        flex-direction: column;

	height: 100%; 

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
}
.categories-story_info {
	padding: 1.5rem 2rem;
}
.categories-story_link {
	text-decoration: none;

	color: #000;
}
.categories-story_name {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 2.2rem;

	text-decoration: none;
	text-transform: uppercase; 

	color: #e8961c;
}
.categories-story_title {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 2.6rem;

	margin-top: 10px;
}
.categories-story .author {
	padding: 1.5rem 2rem;

	border-top: 1px solid #e6e6e6;
}
.categories-story .author_name {
	width: 75px;
}
.categories-story .author_info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	width: 100%; 

	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer {
	margin-top: 40px; 
	padding-bottom: 35px;

	background: #000;
}
.footer__container {
	position: relative; 

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	max-width: 1152px;
	margin: 0 auto;
	padding: 0 1.5rem;
}
.footer__nav {
	padding: 23px 0;

	border-bottom: 1px solid #37474f;
}
.footer__nav-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	max-width: 1020px;
	margin: 0 auto;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.footer__nav-link {
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 2.2rem;

	text-decoration: none; 

	color: #fff;
}
.footer__disclaimer {
	padding: 25px 0 29px; 

	border-bottom: 1px solid #37474f;
}
.footer__disclaimer-text {
	font-size: 1.6rem;
	line-height: 1.9rem;

	max-width: 1152px;
	margin-bottom: 0; 

	color: #99a5ab;
}
.footer__row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.footer__copy {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	padding: 25px 0; 

	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.footer__copy-text {
	font-size: 1.6rem;
	line-height: 1.9rem;

	margin-right: 29px; 

	color: #99a5ab;
}
.footer__copy-link {
	font-size: 1.6rem;
	line-height: 1.9rem;

	text-decoration: underline; 

	color: #99a5ab;
}
.footer__copy-link:hover {
	color: #fff;
}
.footer__copy-link:active {
	color: #ff5722;
}
.footer__logo {
	position: relative;
	top: 3px;

	display: block;

	min-width: 173px;
	max-width: 173px;
	height: 30px;

	background: url("/img/logo.svg") no-repeat left top/contain;
}

.header {
	position: relative;
	z-index: 996;

	height: auto;
	margin-bottom: 10px; 
	padding: 1rem 0;

	background-color: #000;
}
.header__container {
	position: relative;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	max-width: 1152px;
	margin: 0 auto;
	padding: 0 1.5rem;

	will-change: transform;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.header__logo {
	position: relative;
	top: 0px;

	display: block; 

	min-width: 257px;
	max-width: 257px;
	height: 34px;

	background: url("/img/logo.svg") no-repeat left top/contain;
}
.header__nav {
	position: relative;

	display: none;
}
.header__nav-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	width: 720px; 

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__nav-link {
	font-size: 1.8rem;
	font-weight: 600; 
	line-height: 2.4rem;

	text-decoration: none;

	color: #fff;
}
.header__panel {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
.header__panel .btn--cross:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj4gPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNUwxMiAxMC41OUw2LjQxIDVMNSA2LjQxTDEwLjU5IDEyTDUgMTcuNTlMNi40MSAxOUwxMiAxMy40MUwxNy41OSAxOUwxOSAxNy41OUwxMy40MSAxMkwxOSA2LjQxWiIvPiA8L3N2Zz4=");
}
.header__panel .btn--cross:active:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj4gPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNUwxMiAxMC41OUw2LjQxIDVMNSA2LjQxTDEwLjU5IDEyTDUgMTcuNTlMNi40MSAxOUwxMiAxMy40MUwxNy41OSAxOUwxOSAxNy41OUwxMy40MSAxMkwxOSA2LjQxWiIvPiA8L3N2Zz4=");
}
.header__search {
	position: absolute;
	top: -1px;
	right: 0;
	left: 0;

	display: none;
}
.header__search-form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;

	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
}
.header__search-submit {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
.header__search-input {
	width: 100%; 
	min-height: 32px;
	padding-left: 3.2rem;

	border-color: #fff;
	background: #fff;
}
.header__search-close {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}
.header__search .btn--search:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4gPHBhdGggZD0iTTE1LjUgMTRIMTQuNzFMMTQuNDMgMTMuNzNDMTUuNDEgMTIuNTkgMTYgMTEuMTEgMTYgOS41QzE2IDUuOTEgMTMuMDkgMyA5LjUgM0M1LjkxIDMgMyA1LjkxIDMgOS41QzMgMTMuMDkgNS45MSAxNiA5LjUgMTZDMTEuMTEgMTYgMTIuNTkgMTUuNDEgMTMuNzMgMTQuNDNMMTQgMTQuNzFWMTUuNUwxOSAyMC40OUwyMC40OSAxOUwxNS41IDE0Wk05LjUgMTRDNy4wMSAxNCA1IDExLjk5IDUgOS41QzUgNy4wMSA3LjAxIDUgOS41IDVDMTEuOTkgNSAxNCA3LjAxIDE0IDkuNUMxNCAxMS45OSAxMS45OSAxNCA5LjUgMTRaIi8+IDwvc3ZnPg==");
}
.header__search .btn--search:active:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4gPHBhdGggZD0iTTE1LjUgMTRIMTQuNzFMMTQuNDMgMTMuNzNDMTUuNDEgMTIuNTkgMTYgMTEuMTEgMTYgOS41QzE2IDUuOTEgMTMuMDkgMyA5LjUgM0M1LjkxIDMgMyA1LjkxIDMgOS41QzMgMTMuMDkgNS45MSAxNiA5LjUgMTZDMTEuMTEgMTYgMTIuNTkgMTUuNDEgMTMuNzMgMTQuNDNMMTQgMTQuNzFWMTUuNUwxOSAyMC40OUwyMC40OSAxOUwxNS41IDE0Wk05LjUgMTRDNy4wMSAxNCA1IDExLjk5IDUgOS41QzUgNy4wMSA3LjAxIDUgOS41IDVDMTEuOTkgNSAxNCA3LjAxIDE0IDkuNUMxNCAxMS45OSAxMS45OSAxNCA5LjUgMTRaIi8+IDwvc3ZnPg==");
}
.header__burger {
	display: none;

	width: 32px;
	height: 32px;
	margin-left: 1.5rem;
}

.btn--search:after,
.btn--cross:after,
.btn--burger:after {
	display: block;

	content: "";

	background-repeat: no-repeat;
	background-position: center;
}

.btn--search:after {
	width: 32px;
	height: 32px; 

	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9IjAuNSI+IDxwYXRoIGQ9Ik0xNS41IDE0SDE0LjcxTDE0LjQzIDEzLjczQzE1LjQxIDEyLjU5IDE2IDExLjExIDE2IDkuNUMxNiA1LjkxIDEzLjA5IDMgOS41IDNDNS45MSAzIDMgNS45MSAzIDkuNUMzIDEzLjA5IDUuOTEgMTYgOS41IDE2QzExLjExIDE2IDEyLjU5IDE1LjQxIDEzLjczIDE0LjQzTDE0IDE0LjcxVjE1LjVMMTkgMjAuNDlMMjAuNDkgMTlMMTUuNSAxNFpNOS41IDE0QzcuMDEgMTQgNSAxMS45OSA1IDkuNUM1IDcuMDEgNy4wMSA1IDkuNSA1QzExLjk5IDUgMTQgNy4wMSAxNCA5LjVDMTQgMTEuOTkgMTEuOTkgMTQgOS41IDE0WiIvPiA8L3N2Zz4=");
}

.btn--search:hover:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjRkY1NzIyIj4gPHBhdGggZD0iTTE1LjUgMTRIMTQuNzFMMTQuNDMgMTMuNzNDMTUuNDEgMTIuNTkgMTYgMTEuMTEgMTYgOS41QzE2IDUuOTEgMTMuMDkgMyA5LjUgM0M1LjkxIDMgMyA1LjkxIDMgOS41QzMgMTMuMDkgNS45MSAxNiA5LjUgMTZDMTEuMTEgMTYgMTIuNTkgMTUuNDEgMTMuNzMgMTQuNDNMMTQgMTQuNzFWMTUuNUwxOSAyMC40OUwyMC40OSAxOUwxNS41IDE0Wk05LjUgMTRDNy4wMSAxNCA1IDExLjk5IDUgOS41QzUgNy4wMSA3LjAxIDUgOS41IDVDMTEuOTkgNSAxNCA3LjAxIDE0IDkuNUMxNCAxMS45OSAxMS45OSAxNCA5LjUgMTRaIi8+IDwvc3ZnPg==");
}

.btn--search:active:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj4gPHBhdGggZD0iTTE1LjUgMTRIMTQuNzFMMTQuNDMgMTMuNzNDMTUuNDEgMTIuNTkgMTYgMTEuMTEgMTYgOS41QzE2IDUuOTEgMTMuMDkgMyA5LjUgM0M1LjkxIDMgMyA1LjkxIDMgOS41QzMgMTMuMDkgNS45MSAxNiA5LjUgMTZDMTEuMTEgMTYgMTIuNTkgMTUuNDEgMTMuNzMgMTQuNDNMMTQgMTQuNzFWMTUuNUwxOSAyMC40OUwyMC40OSAxOUwxNS41IDE0Wk05LjUgMTRDNy4wMSAxNCA1IDExLjk5IDUgOS41QzUgNy4wMSA3LjAxIDUgOS41IDVDMTEuOTkgNSAxNCA3LjAxIDE0IDkuNUMxNCAxMS45OSAxMS45OSAxNCA5LjUgMTRaIi8+IDwvc3ZnPg==");
}

.header__burger:after {
	width: 32px;
	height: 32px; 

	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9IjAuNSI+IDxwYXRoIGQ9Ik0zIDE4SDIxVjE2SDNWMThaTTMgMTNIMjFWMTFIM1YxM1pNMyA2VjhIMjFWNkgzWiIvPiA8L3N2Zz4=");
}

.header__burger:hover:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjRkY1NzIyIj4gPHBhdGggZD0iTTMgMThIMjFWMTZIM1YxOFpNMyAxM0gyMVYxMUgzVjEzWk0zIDZWOEgyMVY2SDNaIi8+IDwvc3ZnPg==");
}

.header__burger:active:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmIj4gPHBhdGggZD0iTTMgMThIMjFWMTZIM1YxOFpNMyAxM0gyMVYxMUgzVjEzWk0zIDZWOEgyMVY2SDNaIi8+IDwvc3ZnPg==");
}

.btn--cross:after {
	width: 32px;
	height: 32px; 

	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwMDAiPiA8cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1TDEyIDEwLjU5TDYuNDEgNUw1IDYuNDFMMTAuNTkgMTJMNSAxNy41OUw2LjQxIDE5TDEyIDEzLjQxTDE3LjU5IDE5TDE5IDE3LjU5TDEzLjQxIDEyTDE5IDYuNDFaIi8+IDwvc3ZnPg==");
}

.btn--cross:hover:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjRkY1NzIyIj4gPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNUwxMiAxMC41OUw2LjQxIDVMNSA2LjQxTDEwLjU5IDEyTDUgMTcuNTlMNi40MSAxOUwxMiAxMy40MUwxNy41OSAxOUwxOSAxNy41OUwxMy40MSAxMkwxOSA2LjQxWiIvPiA8L3N2Zz4=");
}

.btn--cross:active:after {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwMDAiPiA8cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1TDEyIDEwLjU5TDYuNDEgNUw1IDYuNDFMMTAuNTkgMTJMNSAxNy41OUw2LjQxIDE5TDEyIDEzLjQxTDE3LjU5IDE5TDE5IDE3LjU5TDEzLjQxIDEyTDE5IDYuNDFaIi8+IDwvc3ZnPg==");
}

.mobile-menu-cover {
	position: fixed;
	z-index: 995;
	top: 0;
	right: 0;
	bottom: -82px;
	left: 0;

	display: none; 

	background: rgba(38, 50, 56, .85);
}

.top-story {
	margin-top: 10px;
	margin-bottom: 40px; 

	-webkit-border-radius: 7px;
	        border-radius: 7px;
	background: #fff;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
	        box-shadow: 10px 10px 20px rgba(0, 0, 0, .05);
}
.top-story_header {
	padding: 25px 25px 40px;
}
.top-story__link {
	text-decoration: none; 

	color: #000;
}
.top-story__title {
	margin-bottom: 2rem;
}
.top-story .humble--time {
	color: #000;
}
.top-story_footer {
	padding: 16px 30px 32px;
}
.top-story_descr {
	font-size: 1.8rem;
	line-height: 3.2rem;
}
.top-story .author_row {
	width: 100%;
}

.editors-mark {
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 2.4rem;

	position: absolute;
	bottom: .8rem;
	left: .8rem; 

	display: inline-block;

	padding: 0 16px;

	text-align: center;
	text-transform: uppercase;

	color: #fff;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	background: #ff5722;
}

.top-story__img-wrapper,
.article__main-img-wrapper {
	position: relative; 

	display: block;

	max-width: 100%;
}

.top-story__img,
.article__main-img {
	display: block;

	max-width: 100%;
}
